main {
  padding-right: 198px;
  padding-left: 198px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

main h1 {
  font-size: 38px;
}

section {
  padding-right: 198px;
  padding-left: 198px;
}
