main {
  margin-bottom: 112px;
}

main h1 {
  padding-right: 198px;
  padding-left: 198px;
}

.information {
  padding-right: 198px;
  padding-left: 198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information p {
  max-width: 432px;
  width: 100%;
  word-wrap: break-word;
  line-height: 22px;
}

.information span {
  font-size: 18px;
  font-weight: 500;
}

.information img {
  width: 400px;
}

section {
  padding-right: 198px;
  padding-left: 198px;
  margin-bottom: 112px;
}

section h2 {
  margin-bottom: 12px;
}

#criptoIcon{
  width: 30px;
  margin-right: 8px;
}

.table{
  text-align: center;
  text-align: justify;
}