.hero-section {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 120px);
  padding-right: 198px;
  padding-left: 198px;
}

.hero-section-info {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.hero-section div img {
  width: 500px;
  height: 400px;
}

.hero-title {
  font-size: 50px;
  color: #915eff;
  line-height: 56px;
  width: 340px;
}

.hero-text {
  font-size: 20px;
  line-height: 28px;
  color: #f1f1f1;
}

.hero-button {
  width: 192px;
  height: 42px;
  border-radius: 22px;
  background-color: #915eff;
  outline: #915eff solid 3px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-button:hover {
  background-color: #050816;
  transition: all 0.3s ease;
}

.about {
  background-color: #915eff;
  height: 260px;
  padding-right: 198px;
  padding-left: 198px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.about div h2 {
  font-size: 38px;
  font-weight: 700;
}

.about div p {
  color: #f1f1f1;
  line-height: 22px;
  font-size: 18px;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

.informations {
  padding-top: 48px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-right: 198px;
  padding-left: 198px;
}

.investimets-section {
  cursor: pointer;
  height: 80px;
}

.investimets-section:hover {
  background-color: #915eff13;
}

.investimets-section:hover > svg{
  color: #915eff;
}

.informations svg {
  max-width: 80px;
  width: 100%;
}

.informations a {
  text-decoration: none;
  color: #fff;
}

.informations .investimets-section {
  display: flex;
  align-items: center;
  gap: 32px;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}